/* FONT */

@font-face {
  font-family: Simplifica;
  src: url(Simplifica.ttf);
}

@font-face {
      font-family: secondaryFont;
      src: local('Avenir');
      font-weight: 400;
}

p,h1 {
  font-family: Simplifica, secondaryFont, "Heltvetica Neue",serif;
  color: #d0d5db;
  font-size: 10vw;
}

html, 
body{
  background-color: #2f3133;
}

/* Name */

#name {
	margin: 10% 0;
}