/* FONT */

@font-face {
  font-family: Simplifica;
  src: url(Simplifica.ttf);
}

@font-face {
      font-family: secondaryFont;
      src: local('Avenir');
      font-weight: 400;
}

p,h1,h2 {
  font-family: Simplifica, secondaryFont, "Heltvetica Neue",serif;
  color: #9AA4C2;
}

html, 
body{
  background-color: #f3f3f3;
}

/* Banner */

#banner {
  background-color: #1FC1B1;
}

#name {
	margin-top: 5%;
}

h1{
	color: #fefefe;
  font-size: 10vw;
}

h2 {
  font-size: 3vw;
  color: #fefefe;
  margin: 0 0 10% 0;
}

/* navbar*/
.navbar {
  width: 100%;
  background-color: #3E3E3E
}

/* Projects */

.card {
  background-color: #3E3E3E;
}

.card-title {
  color: #eee;
}

.card-subtitle {
  color: #bbb;
}

#project-board {
  margin-top: 10%;
}

.placeholder {
  display: inline-block;
  height: 10vh;
  background-color: #6E6E6E;
  width: 100%;
}

a {
  color: #eee;
}

.highlight {
  background-color: #FD3E39;
}
