@font-face {
  font-family: FoxandCat;
  src: url(FoxandCat.ttf);
}

html, 
body {
    height: 100%;
    background-image: url("KL.png")
}

body{
	background-color: #2f3133;
}

p,h1 {
	font-family: FoxandCat, "Heltvetica Neue",serif;
	color: #d0d5db;
}

/* WIPE */

@keyframes wipe_d {
  0%   {height: 0; width: 0;left: 0,right:0;}
  100% {height: 100%; width: 100%;}
}

.wipe {
  background-color: black;
  animation-name: wipe_d;
  animation-duration: 4s;
}
