@font-face {
  font-family: Lombok;
  src: url(Lombok.otf);
}

@font-face {
      font-family: secondaryFont;
      src: local('Avenir');
      font-weight: 400;
}


html, 
body{
	background-color: #2f3133;
}

p,h1 {
	font-family: Lombok, secondaryFont, "Heltvetica Neue",serif;
	color: #d0d5db;
}

#name {
	margin: 10%;
	text-align: center;
}

#name h1 {
	color: #fdfbd3; 
}

h1 {
	font-size: 4rem;
}

/* navbar */

.nav-link {
	margin: 0 15%;
}

.nav-link:hover {
	border-bottom: 1px solid #e1e6ec;
	box-shadow: 0px 0px 40px 20px #f0ffff;

}

.nav-link:hover a{
	text-decoration: none;
	font-weight: bold;
	font-size: 1.4em;
	color: #fdfbd3; 
}

#navbar {
	margin: 5% 0;
}

.nav-link p {
	margin: 5% 0;
}

.card {
	background-color: #1f2123;
	margin: 5%
}