/* _______ Fonts & Colors _______ */

:root {
    --main-color:#f1f2ec;
    --text-color:#20201f;
    --button: #555555;
    --secondary-color: #454545;
    /*
    --secondary-color: #F0D9F7;
    --main-color-highlight: #7907FF;
    */
}

@font-face {
  font-family: santral;
  src: url(santral-light-webfont.woff);
}

html, body {
	background-color: var(--main-color);
}

h1, h2, a {
  color: var(--text-color);
	font-family: santral,'Roboto', sans-serif;
	font-weight: 900;
}

/* _______ Components _______ */
.btn-dark {
  display: inline-block;
  padding: .375rem .75rem;
  margin: 0;
  border-radius: .75rem;
  background-color: var(--main-color);
  border: 1px solid var(--button);
  color: var(--text-color);
  text-decoration: none;
}

.btn-dark:hover {
  background-color: var(--button);
  color: var(--main-color);
  text-decoration: none;
}


/* _______ Main Page _______ */
.content-centred {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


#hello-btn {
  width: 100px;
  height: 60px;
  /**
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 30px);
  **/
}

#hello-btn a {
  font-size: 30px;
  text-decoration: None;
  margin: 0;
}

#main-content {
  display: none;
  position: relative;
  width: 550px;
  height: 300px;
}

#main-text {
  float: left;
  font-size: 70px;
}

#hand{
  display: none;
	width: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.navigation-block {
  position: absolute;
  width: 400px;
  text-align: center;
  padding: 20px;
  display: none;
  color: var(--secondary-color);
}

#work-block {
  top: 10%;
  left: 0;
}

#about-block {
  top: 20%;
  right: 0;
}

#contact-block {
  bottom: 10%;
  left: calc(50% - 200px);
}


/* _______ Animation _______*/
.floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
    fill: #6c757d;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    40%  { transform: translate(0, -4px); }

}
